.detail-ticket-field {
    display: flex;
    /* width: 50vw; */
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    margin-top: 5vh;
}
.assign-button {
    margin: 15px;
}