<div class="ticket-add-field">
    <p-fieldset legend="Add tickets" [toggleable]="true">
        <form class="fieldset-ticket" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="flex flex-column gap-2 add-ticket">
                <label htmlFor="description">Description</label>
                <input pInputText name="description" [(ngModel)]="descriptionToAdd" #description="ngModel" required minlength="4" />
                <div *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div *ngIf="description.errors?.['required']">
                        Description required
                    </div>
                    <div *ngIf="description.errors?.['minlength']">
                        Description must have at least 4 characters
                    </div>
                </div>
            </div>
            <div>
                <p-button class="add-button-ticket" [disabled]="!form.valid" label="Add ticket" type="submit"></p-button>
            </div>
        </form>
        <p-toast></p-toast>
    </p-fieldset>
</div>
<div class="ticket-list-field">
    <div class="card flex justify-content-center">
        <div class="card flex flex-wrap justify-content-center gap-3">
            <span class="p-input-icon-left">
                <i class="pi pi-search search-icon"></i>
                <input pInputText type="text" class="p-inputtext search-text" (input)="applyGlobalFilter($event.target.value)" placeholder="Search keyword" />
            </span>
        </div>
        <p-card header="">
            <div class="card" *ngIf="isLoaded">
                <p-table #ticketTable [value]="ticketsUser" [globalFilterFields]="['description', 'user.name', 'completed']">
                    <ng-template pTemplate="header" let-tickets>
                      <tr>
                        <th>
                          <input
                            type="text"
                            pInputText
                            (input)="ticketTable.filter($event.target.value, 'description', 'contains')"
                            placeholder="Search Description"
                          />
                        </th>
                        <th>
                          <input
                            type="text"
                            pInputText
                            (input)="ticketTable.filter($event.target.value, 'user.name', 'contains')"
                            placeholder="Search Assigned To"
                          />
                        </th>
                        <th>
                          <!-- <input
                            type="text"
                            pInputText
                            (input)="ticketTable.filter($event.target.value, 'completed', 'contains')"
                            placeholder="Search Status"
                          /> -->
                          <p-dropdown [options]="statut" [(ngModel)]="selectedStatut" (onChange)="ticketTable.filter(selectedStatut, 'completed', 'contains')" [editable]="true" placeholder="search if completed"></p-dropdown>
                        </th>
                        <th>Action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ticket>
                      <tr>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.user.name }}</td>
                        <td>{{ ticket.completed }}</td>
                        <td><p-button icon="pi pi-info-circle"></p-button></td>
                      </tr>
                    </ng-template>
                  </p-table>
                  
            </div>
            <div class="card" *ngIf="!isLoaded">
                <p-progressSpinner class="p-progress-spinner-circle" styleClass="w-4rem h-4rem" strokeWidth="2" fill="var(--surface-ground)" animationDuration="1.5s"></p-progressSpinner>
            </div>
        </p-card>
    </div>
</div>
