.ticket-add-field {
    margin-top: 4vh;
}
.add-ticket {
    display: grid;
}
.add-ticket-input {
    margin-top: 15px;
    margin-right: 15px;
}
.error-message-input {
    font-size: 1.2vh;
    color: palevioletred;
}
.add-button-ticket {
    /* margin-left: 70vw; */
    display: grid;
    /* width: 20vw; */
}
.search-text {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    width: 97vw;
}
.search-icon {
    height: fit-content;
    margin: auto;
}
.ticket-list-field {
    margin-top: 2vh;
}
.p-progress-spinner-circle {
    stroke: #000 !important;
}
.fieldset-ticket {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    /* margin-bottom: 1.5rem; */
}
.button-add-ticket {
    width: fit-content;
}
.textarea-description {
    margin-top: 10px;
    margin-bottom: 10px;
}
.label-list {
    font-family: Roboto;
    margin-left: 15px;
}
#keyword {
    width: 40vw;
}
.keyword-field {
    float: right;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}